{
  "local_port": 16866,
  "all_to_vps": false,
  "log_open": true,
  "auto_append_urls": true,
  "vpss": [
    {
      "used": true,
      "password": "password123",
      "ip": "0.0.0.0"
    },
    {
      "used": false,
      "password": "password123",
      "ip": "::"
    }
  ],
  "service_port_v4": 6866,
  "service_port_v6": 6868
}