{
  "local_port": 55555,
  "all_to_vps": false,
  "vpss": [
    {
      "used": true,
      "token": "admin1_token",
      "ipv4": "xx:xx:xx:xx",
      "v4port": 55554,
      "ipv6": "x:x:x:x:x:x:x:x",
      "v6port": 55556
    },
    {
      "used": false,
      "token": "admin2_token",
      "ipv4": "yy:yy:yy:yy",
      "v4port": 55554,
      "ipv6": "y:y:y:y:y:y:y:y",
      "v6port": 55556
    }
  ]
}